{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'admin/admin_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="{% url 'manage_food_search' %}#about">
  <table width="549" border="1" class="table table-dark table-hover">
    <tr>
      <td colspan="5">Search food type 
      <input type="text" name="Search" value="{{ food }}"/>
      <input type="submit" name="Submit" value="Search" /></td>
    </tr>
    <tr>
      <td width="98">Food name </td>
      <td width="103">Food Type </td>
      <td width="70">Time</td>
      <td width="104">Quandity</td>
      <td width="140">&nbsp;</td>
    </tr>
      {% for i in food_obj %}
    <tr>
      <td>&nbsp;{{ i.FoodName }}</td>
      <td>&nbsp;{{ i.FoodType }}</td>
      <td>&nbsp;{{ i.Time }}</td>
      <td>&nbsp;{{ i.Quantity }}</td>
      <td><p><a href="{% url 'update_food' food_id=i.id %}#about">Update</a></p>
      <p><a href="{% url 'delete_food' food_id=i.id %}">Delete</a></p></td>
    </tr>
      {% endfor %}
    <tr>
      <td colspan="5"><div align="center">
        <a href="{% url 'add_new_food' %}#about"> Add new food </a>
      </div></td>
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}