{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'expert/expert_index.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-dark table-hover">
    <tr>
      <td><p align="center"><a href="view_assigned_users">View assigned users</a></p>
      <p align="center"><a href="add_manage_attendance">Add and manage attendance </a></p>
      <p align="center"><a href="search_user_progress">View user progress level </a></p>
      <p align="center"><a href="view_diet_chart">View diet chart and approve </a></p>
      <p align="center"><a href="add_manage_tips">Add and manage tips </a></p>
      <p align="center"><a href="add_and_manage_video">Add and manage videos</a></p>
      <p align="center"><a href="/">logout</a></p></td>
    </tr>
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}