{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{% extends 'expert/expert_index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="view_user_progress_level_action">
  <table width="373" border="1" class="table table-dark table-hover">
    <tr>
      <td width="31">Height</td>
      <td width="47">Weight</td>
      <td width="47">Date</td>
    </tr>
   {% for i in user_obj %}
    <tr>
      <td>&nbsp;{{ i.Height }}</td>
      <td>&nbsp;{{ i.Weight }}</td>
      <td>&nbsp;{{ i.Date }}</td>
    </tr>
  {% endfor %}
  </table>
</form>
{#</body>#}
{#</html>#}
{% endblock %}